<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> MEDIA </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <video
    style="width: 100%" controls>
      <source src="assets/vids/EL RINCÓN DEL CAFÉ spot.mp4" type="video/mp4">
    </video>
    <ion-card-content>

      <ion-card-title>¿Se te antojó? </ion-card-title>
      <p>Lorem is child component of ion-card that adds some content padding. </p>
</ion-card-content>
  </ion-card> 

  <ion-card>
    <video
    style="width: 100%" controls>
      <source src="assets/vids/Spot Publicitario Café Libélula.mp4" type="video/mp4">
    </video>
    <ion-card-content>

      <ion-card-title>Libelula Café </ion-card-title>
      <p>Lorem is child component of ion-card that adds some content padding. </p>
</ion-card-content>
  </ion-card> 

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  
</ion-content>
