<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img src="assets/imgs/cafe.jpg">
    <ion-card-content>
      <ion-card-title>CAPUCHINO</ion-card-title>
      <p>El café es delicioso por las mañanas cuando hace frio.</p>
    </ion-card-content>
  </ion-card>

<ion-card>
    <img src="assets/imgs/persona.jpg">
    <ion-card-content>
      <ion-card-title>WAKE UP HUMAN</ion-card-title>
      <p>DESPIERTA</p>
    </ion-card-content>
  </ion-card>

<ion-card>
    <img src="assets/imgs/coffe.jpg">
    <ion-card-content>
      <ion-card-title>DISFRUTA Y VIVE</ion-card-title>
      <p>El café es delicioso por las mañanas cuando hace frio.</p>
    </ion-card-content>
  </ion-card>



  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
